body {
    background: grey;
    text-align: center;
    font-family: italic;
    color:#333;
    font-size: 17px;
} 

#cabecera {
    background:blueviolet;
    box-shadow: 0px 5px 20px 0px rgb(0, 0, 0, 0.5);
    color: whitesmoke;
    margin: 0;  
    font-weight: bold;
    padding: 0.5em 0 0.5em 2em;
}

#cabecera #logo {
    width: 30px;
    vertical-align: middle;
}

#cabecer #tagline {
    padding: 0 0 0 1em;
    font-weight: normal;
    font-size: 0.8em;
}

#container {
    width: 70%;
    padding: 0;
    text-align: left;
    border: 1px solid #000000;
    margin: 0 auto; 
}

#cotainer h1 {
    font-size: 20px;
}

#post {
    background: white;
     padding: 1em;
}

#footer {
    background: blanchedalmond;
    text-align: center;
    font-size: 14px;
    padding: 0.5px;
}